<div id="editActionModalBody" style="display: none;">
    <form method="post" action="/pipeline/edit_action/" enctype="multipart/form-data" id="editActionModalForm" class="std-form" style="width: 600px;">
        <strong id="modal-action-name" style="margin-bottom: 10px;"></strong>

        <input type="hidden" id="project_dir" name="project_dir">
        <input id="action_id" name="action_id" type="hidden">

        <label for="action_code">Python Code:</label>
        <textarea id="action_code" name="action_code" required style="height: 80px;"></textarea>
        
        <button type="submit" class="btn-primary">Confirm</button>
        <button type="button" class="btn-danger" id="deleteButton" style="height: 100%;">Delete Action</button>
    </form>
</div>
