<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'utils/ui_manager/theme_manager/theme_head.html' %}
    {% include 'utils/ui_manager/collapsible_nav/collapsible_nav_add_project_page.html' %}
    <link href="{{ url_for('pipeline_static', path='css/style.css') }}" rel="stylesheet">
    {% include 'utils/ui_manager/collapsible_nav/collapsible_nav_rem_project_page_pending.html' %}
    <title>Pipeline</title>
</head>
<body>
    <div class="container">
        <aside>
            <div class="aside-title">
                <div class="aside-title-content">
                    <a href="/" class="home-link" title="Home">
                        <i class="fas fa-home"></i>
                    </a>
                    <div class="title-separator">|</div>
                    <h3>Pipeline</h3>
                </div>
            </div>
            {% include 'utils/templates/project_nav_links.html' %}
        </aside>
        <main class="pipeline-main">
            <div style="margin-bottom: 10px;">
                <button id="save-order" style="visibility: hidden;" onclick="{ confirmNewOrder('{{ project_dir}}'); }" class="btn-primary">
                    Save New Order
                </button>
            </div>
            <div class="action-list dragndrop" id="pipeline">
                {% for action in actions %}
                    {% set action_id = loop.index0 %}
                    <div data-swapy-slot="{{ action_id }}-slot">
                        <div class="action" data-swapy-item="{{ action_id }}-item">
                            <div class="action-content">
                                <div class="action-icons">
                                    {% for icon in action.action.icons %}
                                        <i class="{{ icon }}"></i>
                                    {% endfor %}
                                </div>
                                <div class="action-description">
                                    {{ action.description }}
                                </div>
                            </div>
                            <div>
                                <button class="list-edit-btn" name="edit-pipeline-action-btn"
                                        onclick="editPipelineActionOpenModal('{{ action_id }}'); return false;"
                                        style="width: 30px; margin-right: 5px;"
                                        title="Edit pipeline action info">
                                    <i class="fas fa-info-circle"></i>
                                </button>
                                <button class="list-edit-btn" name="edit-action-btn"
                                        onclick="editActionOpenModal('{{ action_id }}', '{{ action.action.__class__.__name__}}'); return false;"
                                        style="width: 30px;"
                                        title="Edit action parameters">
                                    &middot;&middot;&middot;
                                </button>
                            </div> 
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
        <script type="module" src="{{ url_for('utils_static', path='ui_manager/theme_manager/theme.js') }}"></script>
        <script type="module" src="{{ url_for('utils_static', path='ui_manager/notification_manager/notification.js') }}"></script>
        <script src="{{ url_for('utils_static', path='submodules/swapy/dist/swapy.min.js') }}"></script>
        <script type="module" src="{{ url_for('pipeline_static', path='js/pipeline_scripts.js') }}"></script>
    </div>
</body>
</html>
