<nav>
    <ul>
        <li class="clickable"><a href="/tables/?project_dir={{ project_dir }}"><i class="fas fa-table"></i>Table</a></li>
        <li class="clickable"><a href="/pipeline/?project_dir={{ project_dir }}"><i class="fas fa-project-diagram"></i>Pipeline</a></li>
        <li class="clickable"><a href="/data_sources/?project_dir={{ project_dir }}"><i class="fas fa-database"></i>Data sources</a></li>
        <li class="clickable"><a href="/project/settings/?project_dir={{ project_dir }}"><i class="fas fa-cog"></i>Settings</a></li>
    </ul>
</nav>
