@import url('../css/style.css');

.project-cards {
    display: flex;
    align-content: flex-start;
    gap: 1px 20px;
}

.project-cards div {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150px;
    overflow: hidden;
}
.project-cards div form {
    width: 80%;
    height: 80%;
}
.project-cards div form button[type="submit"] {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    color: var(--main-text-color);
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    padding: 10px;
}
.project-cards div form button[type="submit"]:hover {
    background-color: var(--structure-color);
    color: var(--structure-text-color);
}
