@import url('../css/style.css');

.sidebar h1 {
    padding-top: 5px;
}

.table-container {
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}
