<div id="CreateTable" class="right-sidebar-form">
    <a href="javascript:void(0)" class="close-btn" onclick="closeForm('CreateTable')">&times;</a>
    <form action="/tables/create_table/" method="post">
        <input type="hidden" name="project_dir" value="{{ project_dir }}">

        <label for="table_name">Table Name:</label>
        <input id="table_name" name="table_name" required>

        <label for="data_source">Data Source:</label>
        <select name="data_source_dir" id="data_source" class="right-sidebar-select">
            {% for source in sources %}
                <option value="{{ source.directory }}">{{ source.name }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn-primary" style="margin-left: 15px; margin-top: 10px;">Create Table</button>
    </form>
</div>

<div id="AddColForm" class="right-sidebar-form">
    <a href="javascript:void(0)" class="close-btn" onclick="closeForm('AddColForm')">&times;</a>
    <form action="/tables/add_column/" method="post">
        <input type="hidden" name="project_dir" value="{{ project_dir }}">
        <input id="table_name" name="table_name" type="hidden" required>

        <label for="add_col_name">Col. Name:</label>
        <input id="add_col_name" name="col_name" required>
        
        <label for="add_col_value">Col. Value:</label>
        <textarea id="add_col_value" name="col_value" required></textarea>
        
        <button type="submit" class="btn-primary" style="margin-left: 15px; margin-top: 10px;">Add Column</button>
    </form>
</div>

<div class="modal" id="InfoColForm">
    <div class="modal-content">
        <h3 id="modalTitle">Column Infos</h3>
        <form action="/tables/del_column/" method="post">
            <input type="hidden" name="project_dir" value="{{ project_dir }}">
            <input id="table_name" name="table_name" type="hidden" required>
            <input id="del_col_name" name="col_name" type="hidden" required>
            
            <button type="submit" class="btn-danger" style="margin-left: 15px; margin-top: 10px;">Delete Column</button>
            <button type="button" onclick="closeInfoColForm()" class="btn-secondary" style="margin-left: 15px; margin-top: 10px;">Cancel</button>
        </form>
    </div>
</div>
