<div id="ActionSidebar" class="right-sidebar-form">
    <a href="javascript:void(0)" class="close-btn" onclick="closeSidebarForm('ActionSidebar')">&times;</a>
    <form action="/tables/execute_action/" method="post">
        <input type="hidden" name="action_name" required>
        <input type="hidden" name="project_dir" value="{{ project_dir }}">
        <input type="hidden" name="table_name" id="table_name" required>

        <div id="args">
        </div>
        
        <button type="submit" class="btn-primary" style="margin-left: 15px; margin-top: 10px;">Confirm</button>
    </form>
</div>

<div id="CreateTable" class="right-sidebar-form">
    <!-- Can't use ActionSidebar because of input 'table_name'-->
    <a href="javascript:void(0)" class="close-btn" onclick="closeSidebarForm('CreateTable')">&times;</a>
    <form action="/tables/execute_action/" method="post">
        <input type="hidden" name="action_name" value="CreateTable">
        <input type="hidden" name="project_dir" value="{{ project_dir }}">

        <label for="table_name">Table Name:</label>
        <input id="table_name" name="table_name" required>

        <label for="data_source">Data Source:</label>
        <select name="data_source_dir" id="data_source" class="right-sidebar-select" onload="toggleSourceSelect()">
            {% for source in sources %}
                <option value="{{ source.directory }}" data-type="{{ source.type }}">{{ source.name }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn-primary" style="margin-left: 15px; margin-top: 10px;">Create Table</button>
    </form>
</div>

<div id="ExportTable" class="right-sidebar-form">
    <!-- Can't use ActionSidebar because it is not an action-->
    <a href="javascript:void(0)" class="close-btn" onclick="closeSidebarForm('ExportTable')">&times;</a>
    <form action="/tables/export_table/" method="post">
        <input name="project_dir" value="{{ project_dir }}" required type="hidden">
        <input id="table_name" name="table_name" required type="hidden"> 

        <label for="export_type">Export Type:</label>
        <select name="export_type" id="export_type" class="right-sidebar-select">
            <option value="csv">CSV</option>
            <option value="xlsx">XLSX</option>
            <option value="pkl">PKL</option>
            <option value="json">JSON</option>
        </select>
        
        <button type="submit" class="btn-primary" style="margin-left: 15px; margin-top: 10px;">Export</button>
    </form>
</div>
