<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squirrel Home</title>
    <link href="{{ url_for('projects_static', path='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <aside>
        <h1>ProjectHub</h1>
        {% include 'utils/templates/app_nav_links.html' %}
      </aside>
      <main>
        <h2>Your Projects</h2>
        <div class="grid" id="projectGrid">
          <div class="card card-new" id="addProjectButton">
            <p>Create New</p>
          </div>
          {% for project in projects %}
            <div class="card" data-project-dir="{{ project.directory }}">
                <div class="card-content">
                  <div>
                    <h3 class="card-title">{{ project.name }}</h3>
                  </div>
                  <p class="card-description">{{ project.description }}</p>
                </div>
            </div>
          {% endfor %}
        </div>
      </main>

    </div>

    {% include 'projects/templates/modals.html' %}

    <script type="module" src="{{ url_for('projects_static', path='js/scripts_projects.js') }}"></script>
  </body>
</html>
