<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Settings</title>
    <link href="{{ url_for('projects_static', path='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <aside>
            <h1>App settings</h1>
            {% include 'utils/templates/app_nav_links.html' %}
        </aside>
        <main>
            <h2>Thank you for using Squirrel!</h2>
            <p>Need some infos on how to use or customize the app? <a style="color: white" href="https://github.com/Minijump/Squirrel" target="_blank">https://github.com/Minijump/Squirrel</a></p> 
        </main>
    </div>
    <script type="module" src="{{ url_for('base_static', path='js/scripts_base.js') }}"></script>
</body>
</html>
