<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'utils/ui_manager/theme_manager/theme_head.html' %}
    {% include 'utils/ui_manager/collapsible_nav/collapsible_nav_add_project_page.html' %}
    <link href="{{ url_for('projects_static', path='css/style.css') }}" rel="stylesheet">
    {% include 'utils/ui_manager/collapsible_nav/collapsible_nav_rem_project_page_pending.html' %}
    <title>Squirrel Home: Error</title>
</head>
<body>
    <div class="container">
        <aside>
          <h1>ProjectHub</h1>
          {% include 'utils/templates/app_nav_links.html' %}
        </aside>
        <main>
          <div class="error-box">
              <h3>
                  <i class="fas fa-exclamation-triangle"></i> Error
              </h3>
              <p>{{ exception }}</p>
          </div>
        </main>
    </div>
</body>
</html>
