<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tables: Error</title>
        <link href="{{ url_for('projects_static', path='css/style.css') }}" rel="stylesheet">
    </head>
    <div class="container">
        <aside>
            <div class="aside-title">
                <a href="/"><i class="fas fa-home" style="color: white;"></i></a>
                <h1 style="margin-left: 5px;">Error</h1>
            </div>
            <nav>
                <ul>
                    <li class="clickable"><a href="/tables/?project_dir={{ project_dir }}"><i class="fas fa-table"></i>Table</a></li>
                    <li class="clickable"><a href="/pipeline/?project_dir={{ project_dir }}"><i class="fas fa-project-diagram"></i>Pipeline</a></li>
                    <li class="clickable"><a href="/data_sources/?project_dir={{ project_dir }}"><i class="fas fa-database"></i>Data sources</a></li>
                    <li class="clickable"><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
                </ul>
            </nav>
        </aside>
        <main>
            <div class="error-box">
                <h3>
                    <i class="fas fa-exclamation-triangle"></i> Error
                </h3>
                <p>{{ exception }}</p>
            </div>
        </main>
    </body>
</html>
