<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tables: Error</title>
        <link href="{{ url_for('projects_static', path='css/style.css') }}" rel="stylesheet">
    </head>
    <div class="container">
        <aside>
            <div class="aside-title">
                <a href="/"><i class="fas fa-home" style="color: white;"></i></a>
                <h1 style="margin-left: 5px;">Error</h1>
            </div>
            {% include 'utils/templates/project_nav_links.html' %}
        </aside>
        <main>
            <div class="error-box">
                <h3>
                    <i class="fas fa-exclamation-triangle"></i> Error
                </h3>
                <p>{{ exception }}</p>
            </div>
        </main>
    </body>
</html>
