@import url('/static/base/css/style.css');

.table-container {
    padding-left: 25px;
    padding-right: 25px;
    height: 80vh;
}

.select-table-btn {
    border-radius: 0;
    background-color: var(--structure-color);
    color: var(--primary-text-color);
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    min-width: 50px;
}
.select-table-btn:hover {
    background-color: var(--ligth-structure-color);
}
.active {
    color: var(--primary-text-color);
    background: var(--secondary-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.table-header-btn {
    border: 0;
    background-color: var(--structure-color);
    color: var(--primary-text-color);
    cursor: pointer;
    float: right;
    font-size: 15px;
}

.table-html {
    overflow-y: auto;
    max-height: 90%;
    margin-top: 25px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--structure-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--light-structure-color); 
}

.df-table{
    border-collapse: collapse; /*Reduce space between cells*/
    font-size: 0.9em;
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.df-table thead {
    position: sticky;
    top: 0;
}
.df-table thead tr {
    background-color: var(--structure-color);
    color: var(--primary-text-color);
    font-weight: bold;
}
.df-table thead tr th{
    border-bottom: 0;
}
.df-table th, .df-table td {
    padding: 12px 15px;
    text-align: left;
    white-space: nowrap;
    border-top: 0;
    border-left: 0;
}
.df-table th:last-of-type, .df-table td:last-of-type {
    border-right: 0;
}
.df-table tbody tr:nth-of-type(even) {
    background-color: var(--light-structure-color);
}
.df-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--structure-color);
}

.pager {
    display: flex;
    justify-content: center;
}
.pager-btn {
    border: 1px solid var(--primary-text-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--primary-text-color);
    margin: 5px;
    padding: 3px;
    cursor: pointer;
}
.pager-info {
    display:flex; 
    align-items: center;
}

/* --------------------------     RIGHT-SIDEBAR     -------------------------- */
.right-sidebar-form {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--structure-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.right-sidebar-form a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.right-sidebar-form a:hover {
    color: #f1f1f1;
}
.right-sidebar-form .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.right-sidebar-form .form-section {
    margin-bottom: 10px;
}
.right-sidebar-form label {
    color: var(--secondary-text-color);
    display: block;
    margin-left: 5px;
}
.right-sidebar-form input, .right-sidebar-form textarea, .right-sidebar-form select {
    width: 80%;
    padding: 8px;
    border-radius: 8px;
    background: #4b5563;
    color: var(--primary-text-color);;
    border: none;
    margin: 12px;
}
.right-sidebar-form select option {
    padding: 5px;
    background-color: #4b5563;
    color: var(--primary-text-color);
}

/* --------------------------     MODAL     -------------------------- */
.infos-div {
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}
.infos-div span {
    font-weight: bold;
}

.info{
    display: none;
}

.btn-div {
    display: flex;
    margin-bottom: 20px;
    margin-left: 10px;
}
.btn-div button {
    margin-left: 5px;
}
.modal-content .close-btn {
    font-size: 36px;
    margin: 5px;
    color: var(--primary-text-color);
    text-decoration: none;
}
.edit-btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    cursor: pointer;
}
