<div style="display: none;">
    <div id="headerInfoColModal" class="modal-header" style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <h3 id="modalTitle" style="display: inline">Column Infos</h3>
            <div id="col_dtype" class="info" style="font-style: italic">(<span></span>)</div>
            <button id="editBtn" class="edit-btn">
                <i class="fas fa-edit"></i>
            </button>
        </div>
        <a href="javascript:void(0)" class="close-btn">&times;</a>
    </div>

    <div id="infoColModalBody">
        <h3 id="error_infos_computation" style="color: red"></h3>
        <div class="infos-div">
            <div id="col_count"  class="info"><span></span> lines</div> 
            <div id="col_unique"  class="info"> with <span></span> unique values</div>
            <div id="col_null"  class="info"> (<span></span> missing)</div>
        </div>
        <div class="btn-div"></div>
        <div class="infos-div numeric-only">
            <div id="col_min"  class="info" style="margin-right: 8px;">Min: <span></span></div>
            <div id="col_25"  class="info" style="margin-right: 8px;">25%: <span></span></div>
            <div id="col_50"  class="info" style="margin-right: 8px;">50%: <span></span></div>
            <div id="col_75"  class="info" style="margin-right: 8px;">75%: <span></span></div>
            <div id="col_max"  class="info" style="margin-right: 8px;">Max: <span></span></div>
            <div id="col_mean"  class="info">(μ: <span></span>, </div>
            <div id="col_std"  class="info">σ: <span></span>)</div>
        </div> 
        <div class="btn-div numeric-only"></div>

        <div class="infos-div string-only">
            <div id="col_avg_length" class="info" style="margin-right: 8px;">Avg Length: <span></span></div>
            <div id="col_min_length" class="info" style="margin-right: 8px;">Min Length: <span></span></div>
            <div id="col_max_length" class="info" style="margin-right: 8px;">Max Length: <span></span></div>
            <div id="col_empty_strings" class="info" style="margin-right: 8px;">Empty: <span></span></div>
        </div>
        <div class="btn-div string-only"></div>

        <div id="top_values_div" class="infos-div" style="display: flex;">
            <div style="margin-right: 8px;">
                <h4 style="margin-top: 0; cursor: pointer;" id="top_values_title">
                    <span id="fold_sign">+</span> Most Common Values:
                </h4>
            </div>
            <div id="top_values_list" style="cursor: pointer;"></div>
        </div>

        <form action="/tables/execute_action/" method="post">
            <input id="action_name" name="action_name" value="DropColumn" type="hidden" required>
            <input id="project_dir" name="project_dir" type="hidden"required>
            <input id="table_name" name="table_name" type="hidden" required>
            <input id="col_name" name="col_name" type="hidden" required>
            <input id="col_idx" name="col_idx" type="hidden" required>
            <button type="submit" class="btn-danger" style="margin-top: 20px;">Delete Column</button>
        </form>
    </div>
</div>
