<div id="ActionSidebar" class="right-sidebar-form">
    <a href="javascript:void(0)" class="close-btn" onclick="closeSidebarForm('ActionSidebar')">&times;</a>
    
    <div class="sidebar-tabs">
        <button class="tab-button active n-l-border" onclick="switchTab(event, 'basic-tab')">Basic</button>
        <button id="kwargs-btn" class="tab-button n-r-border" onclick="switchTab(event, 'advanced-tab')">Advanced</button>
    </div>
    
    <div id="basic-tab" class="tab-content active">
        <form action="/tables/execute_action/" method="post">
            <input type="hidden" name="action_name" required class="sync-action-name">
            <input type="hidden" name="project_dir" value="{{ project_dir }}">
            <input type="hidden" name="table_name" id="table_name" required class="sync-table-name">

            <div id="args"></div>
            
            <button type="submit" class="btn-primary" style="margin-left: 15px; margin-top: 10px;">Confirm</button>
        </form>
    </div>
    
    <div id="advanced-tab" class="tab-content">
        <form action="/tables/execute_action/" method="post" id="args-kwargs-form">
            <input type="hidden" name="action_name" required class="sync-action-name">
            <input type="hidden" name="project_dir" value="{{ project_dir }}">
            <input type="hidden" name="table_name" required class="sync-table-name">
            <input type="hidden" name="col_name" id="col_name" required>
            <input type="hidden" name="col_idx" id="col_idx" required>
            <input type="hidden" name="advanced" value="true">

            <div id="args-kwargs" style="padding-left: 8px"></div>
            
            <button type="submit" class="btn-primary" style="margin-left: 15px; margin-top: 10px;">Confirm</button>
        </form>
    </div>
</div>

<div id="CreateTable" class="right-sidebar-form">
    <!-- Can't use ActionSidebar because of input 'table_name'-->
    <a href="javascript:void(0)" class="close-btn" onclick="closeSidebarForm('CreateTable')">&times;</a>
    <form action="/tables/execute_action/" method="post" onsubmit="saveSelectedTable(document.getElementById('new_table_name').value)">
        <input type="hidden" name="action_name" value="CreateTable">
        <input type="hidden" name="project_dir" value="{{ project_dir }}">
        <input type="hidden" name="action_name" value="CreateTable" required>

        <label for="table_name">Table Name:</label>
        <input id="new_table_name" name="table_name" required>

        <label for="source_creation_type">From:</label>
        <select name="source_creation_type" id="source_creation_type" class="right-sidebar-select">
            {% for type in [('data_source', 'Data Sources'), ('other_tables', 'Other Tables')] %}
                <option value="{{ type[0] }}">{{ type[1] }}</option>
            {% endfor %}
        </select>

        <div class="data_source_type_onchange data_source">
            <label for="data_source">Data Source:</label>
            <select name="data_source_dir" id="data_source" class="right-sidebar-select">
                {% for source in sources %}
                    <option value="{{ source.directory }}" data-type="{{ source.type }}">{{ source.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="data_source_type_onchange other_tables">
            <label for="table_df">Table: </label>
            <select name="table_df" id="table_df" class="right-sidebar-select">
                {% for name, html_table in table.items() %}
                    <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn-primary" style="margin-left: 15px; margin-top: 10px;">Create Table</button>
    </form>
</div>

<div id="ExportTable" class="right-sidebar-form">
    <!-- Can't use ActionSidebar because it is not an action-->
    <a href="javascript:void(0)" class="close-btn" onclick="closeSidebarForm('ExportTable')">&times;</a>
    <form action="/tables/export_table/" method="post">
        <input name="project_dir" value="{{ project_dir }}" required type="hidden">
        <input id="table_name" name="table_name" required type="hidden"> 

        <label for="export_type">Export Type:</label>
        <select name="export_type" id="export_type" class="right-sidebar-select">
            <option value="csv">CSV</option>
            <option value="xlsx">XLSX</option>
            <option value="pkl">PKL</option>
            <option value="json">JSON</option>
        </select>
        
        <button type="submit" class="btn-primary" style="margin-left: 15px; margin-top: 10px;">Export</button>
    </form>
</div>
