<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
    <link href="{{ url_for('tables_static', path='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <aside>
            <div class="aside-title">
                <a href="/"><i class="fas fa-home" style="color: white;"></i></a>
                <h1 style="margin-left: 5px;">Tables</h1>
            </div>
            {% include 'utils/templates/project_nav_links.html' %}
        </aside>

        <main class="table-main"> 
            {% if table and not exception %}
                <div class="table-select-btn-div">
                    {% for name, html_table in table.items() %}
                        <button 
                            onclick="showTable('{{ name }}')" 
                            class="table-select-btn">
                                {{ name }}
                        </button>
                    {% endfor %}
                    <button onclick="openSidebarForm('CreateTable')" class="table-select-btn">
                        <img
                            src="{{ url_for('tables_static', path='img/plus_icon.png') }}"
                            alt="Plus Icon"
                            style="width: 12px; height: 12px;"/>
                    </button>
                </div>
                {% for name, html_table in table.items() %}
                    <div id="table-{{ name }}" class="table-container" style="display: none;">
                        <div class="table-action-btn-div">
                            <!-- Rows dropdown -->
                            <div class="dropdown table-action-btn">
                                <button class="table-action-btn dropdown-toggle" style="width: 100%; border: 0;">Rows</button>
                                <div class="dropdown-content">
                                    <a href="#" onclick="openSidebarActionForm('DeleteRow', { 'table_name': '{{ name }}' }); return false;">Delete Rows</a>
                                    <a href="#" onclick="openSidebarActionForm('KeepRow', { 'table_name': '{{ name }}' }); return false;">Keep Rows</a>
                                    <a href="#" onclick="openSidebarActionForm('AddRow', { 'table_name': '{{ name }}' }); return false;">Add Rows</a>
                                </div>
                            </div>
                            <button onclick="openSidebarActionForm('AddColumn', { 'table_name': '{{ name }}' })" class="table-action-btn">Add Column</button>
                            <button onclick="openSidebarActionForm('GroupBy', { 'table_name': '{{ name }}' })" class="table-action-btn">Group By</button>
                            <button onclick="openSidebarActionForm('MergeTables', { 'table_name': '{{ name }}' })" class="table-action-btn">Merge Table</button>
                            <button onclick="openSidebarActionForm('ConcatenateTables', { 'table_name': '{{ name }}' })" class="table-action-btn">Concatenate Table</button>
                            <button onclick="openCustomActionModal('{{ name }}')" class="table-action-btn">Add Action</button>
                        </div>
                        <div class="table-html" id="table-html-{{ name }}">
                            {{ html_table|safe }}
                        </div>
                        <div class="pager" data-table="{{ name }}" data-totallen="{{ table_len_infos.get(name, {}).get('total_len', 0) }}" data-displaylen="{{ table_len_infos.get(name, {}).get('display_len', 0) }}" data-project_dir="{{ project_dir }}">
                            <div id="prev" class="pager-btn">&lt;</div>
                            <div id="pager-info-{{ name }}" class="pager-info">
                                {% set display_len = table_len_infos.get(name, {}).get('display_len', 0) %}
                                {% set total_len = table_len_infos.get(name, {}).get('total_len', 0) %}
                                0-{% if display_len > total_len %}{{ total_len }}{% else %}{{ display_len }}{% endif %} / {{ total_len }}
                            </div>
                            <div id="next" class="pager-btn">&gt;</div>
                        </div>
                        <div class="table-bottom-bar">
                            <div>
                                Table: {{ name }}
                            </div>
                            <div>
                                <button onclick="openSidebarForm('ExportTable', { 'table_name': '{{ name }}' })" class="export-btn">
                                    <i class="fas fa-file-export"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% if exception %}
                    <div class="error-box">
                        <h3>
                            <i class="fas fa-exclamation-triangle"></i> Error
                        </h3>
                        <p>An error occurred in Pipeline:</p>
                        <p>{{ exception }}</p>
                    </div>
                {% else %}
                        NO table yet
                        <button onclick="openSidebarForm('CreateTable')" class="btn-primary" >
                            Create
                        </button>
                {% endif %}
            {% endif %}

            {% include 'tables/templates/modals.html' %}
            {% include 'tables/templates/sidebars.html' %}

            <script type="module" src="{{ url_for('base_static', path='js/widgets/dictionary_widget.js') }}"></script>
            <script type="module" src="{{ url_for('tables_static', path='js/table_scripts.js') }}"></script>
            <script type="module" src="{{ url_for('tables_static', path='js/right_sidebar_scripts.js') }}"></script>
            <script src="{{ url_for('tables_static', path='js/modal_scripts.js') }}"></script>
        </main>
    </div>
</body>
</html>
