<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
    <link href="{{ url_for('tables_static', path='css/style.css') }}" rel="stylesheet">
</head>
<body>
<div class="container">
    <aside>
        <div class="aside-title">
            <a href="/"><i class="fas fa-home" style="color: white;"></i></a>
            <h1 style="margin-left: 5px;">Tables</h1>
        </div>
        {% include 'utils/templates/project_nav_links.html' %}
    </aside>

    <main> 
        {% if table and not exception %}
            <div style="display: flex; justify-content: left; margin-left: 25px;">
                {% for name, html_table in table.items() %}
                    {% if loop.first %}
                        <button 
                            onclick="showTable('{{ name }}')"
                            class="select-table-btn"  
                            style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
                                {{ name }}
                        </button>
                    {% else %}
                        <button 
                            onclick="showTable('{{ name }}')" 
                            class="select-table-btn">
                                {{ name }}
                        </button>
                    {% endif %}
                {% endfor %}
                <button 
                    onclick="openSidebarForm('CreateTable')" 
                    class="select-table-btn" 
                    style="border-top-right-radius: 10px; border-bottom-right-radius: 10px; min-width: 0;">
                        <img
                            src="{{ url_for('tables_static', path='img/plus_icon.png') }}"
                            alt="Plus Icon"
                            style="width: 12px; height: 12px;"/>
                </button>
            </div>
            {% for name, html_table in table.items() %}
                <div id="table-{{ name }}" class="table-container" style="display: none;">
                    <div style="display: flex; justify-content: flex-start; gap: 10px;">
                        <button onclick="openSidebarActionForm('AddColumn', { 'table_name': '{{ name }}' })" class="btn-primary">Add Column</button>
                        <button onclick="openSidebarActionForm('DeleteRow', { 'table_name': '{{ name }}' })" class="btn-danger">Delete Rows</button>
                        <button onclick="openSidebarActionForm('AddRow', { 'table_name': '{{ name }}' })" class="btn-primary">Add Rows</button>
                        <button onclick="openCustomActionModal()" class="btn-primary">Add Action</button>
                        <button onclick="openSidebarForm('ExportTable', { 'table_name': '{{ name }}' })" class="btn-primary"><i class="fas fa-file-export" style="margin-right: 5px;"></i></button>
                    </div>
                    <div class="table-html" id="table-html-{{ name }}">
                        {{ html_table|safe }}
                    </div>
                    <div class="pager" data-table="{{ name }}" data-totallen="{{ table_len_infos.get(name, {}).get('total_len', 0) }}" data-displaylen="{{ table_len_infos.get(name, {}).get('display_len', 0) }}" data-project_dir="{{ project_dir }}">
                        <div id="prev" class="pager-btn">&lt;</div>
                        <div id="pager-info-{{ name }}" class="pager-info">
                            0-{{ table_len_infos.get(name, {}).get('display_len', 0) }} / {{ table_len_infos.get(name, {}).get('total_len', 0) }}
                        </div>
                        <div id="next" class="pager-btn">&gt;</div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% if exception %}
                <div class="error-box">
                    <h3>
                        <i class="fas fa-exclamation-triangle"></i> Error
                    </h3>
                    <p>An error occurred in Pipeline:</p>
                    <p>{{ exception }}</p>
                </div>
            {% else %}
                    NO table yet
                    <button onclick="openSidebarForm('CreateTable')" class="btn-primary" >
                        Create
                    </button>
            {% endif %}
        {% endif %}

        <!-- Modals and Sidebars-->
        {% include 'tables/templates/modals.html' %}
        {% include 'tables/templates/sidebars.html' %}


        <!-- JS scripts -->
        <!-- Sidebar, Modal, Pager, Info button-->
        <script src="{{ url_for('tables_static', path='js/scripts.js') }}"></script>         
    </main>
</div>
</body>
</html>
