<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data sources</title>
    <link href="{{ url_for('static', path='css/homepage_style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-content">
            <div class="navigation-btn">
                <a href="/">Home</a>
            </div>
            <h1>Data</h1>
            <ul>
                <li class="clickable"><a href="/project/?project_dir={{ project_dir }}">Table</a></li>
                <li class="clickable"><a href="/pipeline/?project_dir={{ project_dir }}">Pipeline</a></li>
                <li class="clickable"><a href="#">Data sources</a></li>
                <li class="clickable"><a href="#">Settings</a></li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <div class="kanban">
            <div class="kanban-card kanban-new">
                <button onclick="openModal('CreateSourceModal')">
                    {% include 'base/kanban/kanban_new.html' %}
                </button>
            </div>
            {% for card in sources %}
                <div class="kanban-card">
                    <button>
                        {% include 'base/kanban/kanban_card.html' %}
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modal Form -->
    <div id="CreateSourceModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" onclick="closeModal('CreateSourceModal')">&times;</span>
            <form method="post" action="/create_source/" enctype="multipart/form-data">
                <input type="hidden" name="project_dir" value="{{ project_dir }}">
                <div class="modal-section">
                    <label for="source_name">Name:</label>
                    <input id="source_name" name="source_name" required>
                </div>
                <div class="modal-section">
                    <label for="source_description">Description:</label>
                    <textarea id="source_description" name="source_description"></textarea>
                </div>
                <div class="modal-section">
                    <label for="source_type">Type:</label>
                    <select id="source_type" name="source_type" class="modal-content-select" required>
                        <option value="csv">CSV</option>
                        <option value="xlsx">XLSX</option>
                    </select>
                    <input id="source_file" name="source_file" type="file" style="margin-left: 5px;" required>
                </div>
                <button type="submit">Confirm</button>
                <button type="button" onclick="closeModal('CreateSourceModal')">Cancel</button>
        </div>
    </div>

    <!-- JS scripts -->
    <script src="{{ url_for('static', path='js/style_script.js') }}"></script>
</body>
</html>
