<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/homepage_style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <h1>Projects</h1>
        <ul>
            <li><a href="/">Projects</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </div>
    <div class="main-content">
        <!-- Projects selection -->
        <div class="project-cards">
            <div style="width: 150px; height: 150px;">
                <form method="post" action="/create_project/">
                    <button type="submit">
                        Create new
                        <img
                                src="{{ url_for('static', path='img/plus_icon.png') }}"
                                alt="Plus Icon"
                                style="padding: 5px; width: 40px; height: 40px;">
                    </button>
                </form>
            </div>
            {% for project in projects %}
                <div>
                    <form method="post" action="/open_project/">
                        <input type="hidden" name="project_directory" value="{{ project.directory }}">
                        <button type="submit">
                            <strong>{{ project.name }}</strong><br>
                            {{ project.description }}
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
