<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Pipeline</title>
    <link href="{{ url_for('static', path='css/pipeline_style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-content">
            <div class="navigation-btn">
                <a href="/">Home</a>
            </div>
            <h1>Pipeline</h1>
            <ul>
                <li class="clickable"><a href="/tables/?project_dir={{ project_dir }}">Table</a></li>
                <li class="clickable"><a href="#">Pipeline</a></li>
                <li class="clickable"><a href="/data_sources/?project_dir={{ project_dir }}">Data sources</a></li>
                <li class="clickable"><a href="#">Settings</a></li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <div style="margin-bottom: 10px;">
            <!-- Button call confirmNewOrder-->
            <button id="save-order" style="visibility: hidden;" onclick="{ confirmNewOrder('{{ project_dir}}'); }">
                Save New Order
            </button>
        </div>
        <div class="list dragndrop" id="pipeline">
            {% for action in actions %}
                <div data-swapy-slot="{{ action[0] }}-slot">
                    <!-- overflow hidden not working due to data-swapy-->
                    <div class="list-item action" style="overflow: hidden;" data-swapy-item="{{ action[0] }}-item">
                        <div>
                            {{ action[1] }}
                        </div>
                        <div>
                            <form style="display: inline-block;" onsubmit="editPipelineActionOpenModal('{{ action[0] }}', '{{ action[1] }}', this.elements['action'].value, '{{ project_dir }}'); return false;">
                                <!-- Form is required to escape action[2] (= python code) -->
                                <input type="hidden" name="action" value="{{ action[2]|escape }}">
                                <button class="list-edit-btn" type="submit">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </form>
                            <button class="list-delete-btn" 
                                    onclick="if (confirm('Are you sure you want to delete this action?')) 
                                            { deletePipelineAction('{{ action[0] }}', '{{ project_dir}}'); }">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div> 
                    </div>
                </div>
            {% endfor %}
        </div>

    <!-- Modal Form -->
    <div id="EditActionModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" onclick="closeModal('EditActionModal')">&times;</span>
            <form method="post" action="/pipeline/edit_action/" enctype="multipart/form-data">
                <div class="modal-section">
                    <strong id="modal-action-name"></strong>
                </div>
                <input id="project_dir" name="project_dir" type="hidden">
                <input id="action_id" name="action_id" type="hidden">
                <label for="action_code">Python Code:</label>
                <textarea id="action_code" name="action_code" required></textarea>
                <br/>
                <button type="submit">Confirm</button>
                <button type="button" onclick="closeModal('EditActionModal')">Cancel</button>
        </div>
    </div>

    </div>
    <script src="https://unpkg.com/swapy/dist/swapy.min.js"></script>
    <script src="{{ url_for('static', path='js/style_script.js') }}"></script>

    <script>
        const container = document.querySelector('.dragndrop')
        const swapy = Swapy.createSwapy(container, {
            animation: 'dynamic',
            // swapMode: 'drop', // No 'onSwap' when over => could call py at each drop
        })
        swapy.enable(true)

        swapy.onSwap((event) => {
            console.log("event", event)
            saveNewOrderVisibility()
            })

        function getOrder() {
            // Get and returns the order of the items
            const container = document.getElementById('pipeline');
            const items = container.querySelectorAll('[data-swapy-item]');
            const order = Array.from(items).map(item => item.getAttribute('data-swapy-item'));
            return order;
        }

        function saveNewOrderVisibility() {
            // Set visibility of save button
            // each element has name: 'id-item', starting with 1; alphabetical order = initial order
            const order = getOrder()
            const sorted = [...order].sort();
            console.log("actions order", order);
            if (JSON.stringify(order) === JSON.stringify(sorted)) {
                document.getElementById('save-order').style.visibility = "hidden";
            } else{
                document.getElementById('save-order').style.visibility = "visible";
            }
        }

        function confirmNewOrder(project_dir) {
            // Call endpoint to edit pipeline with the new order
            const order = getOrder()
            const url = new URL('/pipeline/confirm_new_order', window.location.origin);
            url.searchParams.append('project_dir', project_dir);
            url.searchParams.append('order', order);
            fetch(url, {
                method: 'POST',
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = `/pipeline/?project_dir=${project_dir}`;
                } else {
                    console.error('Error:', response.statusText);
                }
            })
        }
    </script>
</body>
</html>
