.std-form label {
  color: var(--secondary-text-color);
  display: block;
  margin-left: 5px;
}
.std-form input, .std-form textarea, .std-form select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background: var(--light-structure-color);
  color: var(--primary-text-color);
  border: 1px solid var(--structure-color);
  margin: 12px;
}
.std-form input:not([type="file"]):read-only {
  pointer-events: none;
  outline: none;
  user-select: none;
  background-color: var(--structure-color);
}
.std-form select option {
  padding: 5px;
  background-color: var(--light-structure-color);
  color: var(--primary-text-color);
}

.info-note {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 11px;
    color: #555;
}
.info-note i {
    margin-right: 5px;
    color: #519ff4;
}
