@import url('colors.css');
@import url('body_style.css');
@import url('form_style.css');
@import url('grid_style.css');
@import url('settings.css');
@import url('btn_style.css');
@import url('scrollbar.css');
@import url('errors.css');
@import url('/static/utils/widgets/table_input_widget/table_input_widget.css');
@import url('/static/utils/widgets/action_widget/action_widget.css');
@import url('/static/utils/components/transient_component/transient_component.css');
@import url('/static/utils/components/modal/modal.css');
@import url('/static/utils/components/sidebar/sidebar.css');
@import url('/static/utils/ui_manager/notification_manager/notification.css');
@import url('/static/utils/ui_manager/collapsible_nav/collapsible_nav.css');

@import url('/fontawesome-assets/css/all.min.css');
