/* Dictionary widget */
.squirrel-dict-widget {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 800px; 
}

.squirrel-dict-widget table {
    width: 100%;
    border-collapse: collapse;
    min-width: 200px;
}

.squirrel-dict-widget td {
    padding: 2px;
    box-sizing: border-box; /* Ensure padding is included in width calculations */
}

.squirrel-dict-widget input {
    width: 100%;
    margin-bottom: 1px;
    margin-top: 1px;
    box-sizing: border-box; /* Ensure padding is included in width calculations */
    min-width: 60px; 
}

.btn-add-line {
    background: transparent;
    color: var(--primary-text-color);
    border: solid 1px var(--primary-text-color);
    padding: 1px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 6px;
    white-space: nowrap;
}

.btn-remove-line {
    background: transparent;
    color: red;
    border: 0px;
    cursor: pointer;
    padding: 1px 5px;
    margin-left: 6px;
    white-space: nowrap;
}
.btn-remove-line:hover {
    text-decoration: underline;
}
