/* Sidebar struct */
.right-sidebar, .left-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    background-color: var(--structure-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-right: 15px;
    box-sizing: border-box;
    z-index: 1000;
}
.right-sidebar {
    right: 0;
}
.left-sidebar {
    left: 0;
}

/* Sidebar close btn */
.right-sidebar a, .left-sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--secondary-text-color);
    display: block;
    transition: 0.3s;
}
.right-sidebar a:hover, .left-sidebar a:hover {
    color: var(--primary-text-color);
}
.right-sidebar .close-btn, .left-sidebar .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.left-sidebar .close-btn {
    right: auto;
    left: 25px;
}

/* Sidebar Tabs */
.sidebar-tabs {
    display: flex;
    margin-bottom: 15px;
}

.tab-button {
    flex: 1;
    background: transparent;
    color: var(--primary-text-color);
    border: none;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
}
.tab-button:hover {
    filter: brightness(1.2);
}
.tab-button.active {
    border: 1px solid var(--border-color);
    border-bottom: 0;
}
.tab-button.n-l-border {
    border-left: 0;
}
.tab-button.n-r-border {
    border-right: 0;
}

/* Sidebar content */
.tab-content {
    display: none;
    padding: 10px 0;
    max-height: calc(100vh - 150px);
    overflow-y: hidden;
    overflow-x: hidden;
}
.tab-content.active {
    display: block;
    overflow-y: auto;
}

/* Sidebar form */
.right-sidebar .std-form, .left-sidebar .std-form {
    padding: 0 15px;
}

.right-sidebar .std-form label, .left-sidebar .std-form label {
    display: block;
    margin-bottom: 5px;
    color: var(--primary-text-color);
    font-weight: 500;
}

.right-sidebar .std-form input,
.right-sidebar .std-form textarea,
.right-sidebar .std-form select,
.left-sidebar .std-form input,
.left-sidebar .std-form textarea,
.left-sidebar .std-form select {
    margin-bottom: 15px;
    padding: 8px 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background: var(--light-structure-color);
    color: var(--primary-text-color);
    box-sizing: border-box;
}
.right-sidebar .std-form button[type="submit"],
.left-sidebar .std-form button[type="submit"] {
    width: calc(100% - 30px);
    margin: 10px 15px;
}

.info-note {
    font-size: 12px;
    color: var(--secondary-text-color);
    margin-bottom: 8px;
    line-height: 1.4;
    padding: 5px 0;
}
.info-note i {
    margin-right: 5px;
    color: #60a5fa;
}
